body {
    background-color: #292222; 
    font-family: 'Fira Code', monospace; 
    color: #EDE8DD;
    margin: 0px;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    flex-direction: column; 
}

.landing-page {
    text-align: center; 
    width: 100%;
    max-width: 800px; 
}

.title {
    font-family: 'Bigshot One', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 80px; 
    text-align: center;
}

.typing-effect {
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    color: #EDE8DD;
    margin-top: 15px; 
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 800px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 80px; 
    justify-items: center;
    margin-top: 60px;
}

.button-item {
    text-align: center;
    align-items: center;
}

.activity-button {
    width: 131px;
    height: 131px;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-button i {
    font-size: 48px;
}

.button-subtitle {
    font-size: 14px;
    color: #EDE8DD;
    margin-top: 10px;
}

.footer {
    font-size: 10px;
    color: #EDE8DD;
    margin-top: 40px;
    text-align: center; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin-top: auto; 
}

.footer .linktree-icon {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
