/* General body styles */
body {
    background-color: #292222; /* Page background */
    font-family: 'Fira Code', monospace; /* Default font */
    color: #EDE8DD; /* Font color */
    margin: 0px;
    padding: 0;
    display: flex; /* Ensure the body uses flexbox */
    justify-content: center; /* Horizontally center the content */
    align-items: flex-start; /* Align content to the top initially */
    height: 100vh; /* Full height to center the content */
    flex-direction: column; /* Allow stacking of elements vertically */
}

/* Landing page container styles */
.landing-page {
    text-align: center; /* Ensure text inside is centered */
    width: 100%;
    max-width: 800px; /* Optional: Set max width to prevent it from getting too wide */
}

/* Title */
.title {
    font-family: 'Bigshot One', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 80px; /* Reduced margin-top to bring the title closer to the top */
    text-align: center;
}

/* Typing effect styles */
.typing-effect {
    font-family: 'Fira Code', monospace;
    font-size: 40px;
    color: #EDE8DD;
    margin-top: 15px; /* Reduced margin-top to make the typing effect closer to the title */
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 800px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 80px; /* Space between buttons */
    justify-items: center;
    margin-top: 60px;
}

/* Individual button item styles */
.button-item {
    text-align: center;
    align-items: center;
}

.activity-button {
    width: 131px;
    height: 131px;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.activity-button i {
    font-size: 48px;
}

.button-subtitle {
    font-size: 14px;
    color: #EDE8DD;
    margin-top: 10px;
}

.footer {
    font-size: 10px;
    color: #EDE8DD;
    margin-top: 40px;
    text-align: center; /* Center the text inside footer */
    width: 100%; /* Ensure footer spans full width */
    display: flex; /* Flex container for footer */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column; /* Stack elements vertically */
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.footer .linktree-icon {
    width: 150px;
    height: 25px;
    margin-top: 10px;
    display: block; /* Ensure the linktree icon behaves as a block element */
    margin-left: auto; /* Center the linktree icon horizontally */
    margin-right: auto; /* Center the linktree icon horizontally */
}
