body {
  background-color: #292222; 
  font-family: 'Fira Code', monospace; 
  color: #EDE8DD; 
  margin: 0px;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  height: 100vh; 
  flex-direction: column; 
}

.landing-page {
  text-align: center; 
  width: 100%;
  max-width: 800px; 
}

.title {
  font-family: 'Bigshot One', sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: -100px; 
  text-align: center;
}

.typing-effect {
  font-family: 'Fira Code', monospace;
  font-size: 40px;
  color: #EDE8DD;
  margin-top: 15px; 
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  max-width: 800px;
}

.subtext {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  color: #EDE8DD;
  margin: 20px 10px;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center; 
  gap: 30px;
  margin-top: 30px; 
}

.icon {
  width: 50px;
  height: 50px;
}

.spotify-button {
  display: block;
  background-color: #1DB954; 
  color: #F0F0F0;
  padding: 15px 30px;
  text-align: center;
  border-radius: 25px;
  width: 200px;
  margin: 40px auto; 
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  text-decoration: none;
}

.example-text {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.footer {
  font-size: 10px;
  color: #EDE8DD;
  margin-top: 40px;
  align-items: center;
  text-align: center;
}

.linktree-icon {
  width: 150px;
  height: 25px;
  margin-top: 10px;
}
